<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="/app/nlog-internal.log">

<!-- optional, add some variables
https://github.com/nlog/NLog/wiki/Configuration-file#variables
-->
<variable name="logpath" value="/app/logs"/>
<!--
See https://github.com/nlog/nlog/wiki/Configuration-file
for information on customizing logging rules and outputs.
 -->
<targets>
        <target xsi:type="File" name="logFileJson" fileName="${logpath}/${shortdate}.log" encoding="utf-8" >
                <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="EventId.Id,EventId.Name,EventId">
                        <attribute name="EventTime" layout="${longdate:universalTime=true}"/>
                        <attribute name="Level" layout="${level:format=ordinal}"/>
                        <attribute name="EventType" layout="${event-properties:item=EventId}"/>
                        <attribute name="IdentityId" layout="${mdlc:item=JwtClientId}"/>
                        <attribute name="SessionId" layout="${sessionId:whenEmpty=null}"/>
                        <attribute name="ActivityId" layout="${aspnet-traceidentifier}"/>
                        <attribute name="CorrelationId" layout="${mdlc:item=CorrelationId}"/>
                        <attribute name="Scope" layout="${logger}"/>
                        <attribute name="Result" layout="${message}" encode="true"/>
                        <attribute name="exception" layout="${exception:format=message}"/>
                </layout>
        </target>
    <target xsi:type="Null" name="nil" formatMessage="false"  />
    <target xsi:type="Console" name="logConsole" encoding="utf-8" layout="${longdate}|${level:uppercase=true}|${callsite}|${logger}|${message}|${exception}" />
    <target xsi:type="File" name="logFile" encoding="utf-8" fileName="${logpath}/${shortdate}_errors.log"
            layout="${longdate}|${level:uppercase=true}|${callsite}|${logger}|${message}|${exception:format=tostring}" />
</targets>

<rules>
    <logger name="*" minlevel="INFO" writeTo="logConsole" />
    <logger name="*" minlevel="INFO" writeTo="logFileJson" />
    <logger name="*" minlevel="ERROR" writeTo="logFile" />
</rules>
</nlog>
